// Light theme
$light_bg-color: #eef1f1;
$light_font-color: #15162c;
$light_link-color: #4c2e7f;
$light_link-color-bg: #e2ccd2;
$light_link-color-hover: #8c77d4;
$light_title-color: #29233e;
$light_item-date: #15162c;
$light-item-border-bottom: #beb0cb;

// Dark theme
$dark_bg-color: #15162c;
$dark_font-color: #a9bde0;
$dark_link-color: #9b9bce;
$dark_link-color-bg: #29233e;
$dark_link-color-hover: #7d7497;
$dark_title-color: #cba7cb;
$dark_item-date: #dddff4;
$dark-item-border-bottom: #3b375e;
