// Light theme
$light_bg-color: #ebeef1;
$light_font-color: #102740;
$light_link-color: #000;
$light_link-color-bg: #dbeaff;
$light_link-color-hover: #1c4470;

// Dark theme
$dark_bg-color: #15162c;
$dark_music_bg-color: #15162c;
$dark_font-color: #a9bde0;
$dark_link-color: #9b9bce;
$dark_link-color-bg: #29233e;
$dark_link-color-hover: #7d7497;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
