// Light theme
$light_bg-color: #faeee7;
$light_font-color: #594a4e;
$light_link-color: #33272a;
$light_link-color-bg: #ffc6c7;
$light_link-color-hover: #ff8ba7;
$light_title-color: #29233e;
$light_item-date: #15162c;
$light-item-border-bottom: #beb0cb;
$light_header-border: #d1c7c1;

// Dark theme
$dark_bg-color: #121629;
$dark_font-color: #9097b9;
$dark_link-color: #eebbc3;
$dark_link-color-bg: '';
$dark_link-color-hover: #7d7497;
$dark_title-color: #b8c1ec;
$dark_item-date: #dddff4;
$dark-item-border-bottom: #3b375e;
$dark_header-border: #36335a;
